/*Fonts*/

@font-face {
    font-family: 'GoodDogRegular';
    src: url('font/gooddog-webfont.eot');
    src: url('font/gooddog-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gooddog-webfont.woff') format('woff'),
         url('font/gooddog-webfont.ttf') format('truetype'),
         url('font/gooddog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Titraille / Intertitres */
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family: 'GoodDogRegular', Arial, sans-serif;}

extra2 h3{font-size:1em}

h1, .h1{font-size:2.5em}

h2, .h2{font-size:2em}


/*Layout*/
html{width:100%; background: #63b362;margin:0 auto;}
body {
	background:#ffffff;
	border-radius: 1em;
	max-width:1100px;
	min-width:940;
	width: auto;
	/*margin: 0 	0 0 17.5em;*/
	margin : 0 auto;
	position:relative;
	}
 	
.page {
 	border: none;
    box-shadow: none;
    margin: 8em auto;
    width: 747px;
    padding: 0 2em;
    position: relative;
    text-align: left;
	}

#header{
	top:-5em;
	text-align:center;
	position:relative;
	z-index:90;
	width:100%;
}

.container {
	background-color:#63b362;
	border-radius: 0.8em;
	behavior: url(/PIE.htc);
    margin: 1.2em 0 6em 0;

}

.home .container {
	background-color:#FFFFFF;
	border: 0px none;
	margin-top:0;
}

.content-principal{
	padding: 1em 0 3em 0.5em; 
	}
.cartouche{
	margin:0;
	text-align:center;
}


.content {
	background-color:#FFFFFF;
	float: right;
	font-family: Helvetica, Arial, sans-serif;	
	border-radius:7px;
	margin:1%;
	width:64%
}

.content p, .content dl{	font-size:1.2em;}
 
.content dl p {
	font-size: 0.9em;
	padding-left: 0.75em;
	}
	
.content .home a{font-family: "GoodDogRegular", "Arial", sans-serif;}

.chapo{
	font-weight:normal;
	
}

.home .content {
    width: 100%;
    min-height: 47em;
     margin: 0;
}

.home .content-principal{text-align:center; font-size:1.2em;font-weight: bold}

.extra2{
	float: left;
	clear:none;
    position: relative;
    z-index: 150;
}

.extra2 li a{font-size:2em}

#extra2 h3{margin:0.5em}

.extra1{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	z-index:50;
	width:42em;
	margin:0;
	padding:0;
	}


.home .extra2{
	display:none
}


#footer{
	text-align:center;
	 margin: 0 6em 1em;
	 position: absolute;
	 bottom: 7em;
    z-index: 200;
    width:80%;
    }



#nom_site_spip{
 	font-size: 11.8em;
    letter-spacing: 0.1em;
    line-height: 110px;
    text-align: center;
    width:100%;
    background:#63B362;
    border: #FFFFFF 2px solid;
   	border-radius: 0.05em;
    behavior: url(/PIE.htc);
    padding: 0 0.1em;
    
}

#nom_site_spip a{    color: #ffffff;}

#slogan_site_spip{
	font-size:3.5em;
	letter-spacing: 0.1em;
	line-height: normal;
	color:#63B362;
	margin-top:0.6em;
}

h1.h1{
	font-size: 2.5em ;
    line-height: normal;
    padding: 0.01em  0.3em;  
	font-weight:bold;	
}


/*Menus*/

.extra2.liste-items, extra2.liste-items .item {
    border-bottom: 0 none;
    border-top: 0 none;
}

#nav li{
	display:inline;
	margin:0 5px;
	
}
#nav ul{
	margin-top:0px;
	
}

.menu-items {
    border-bottom: 0px ;
}


#extra2 .liste-items{
    /*background-color: #D3E9D2;*/
    border-radius: 0.4em 0 0 0;
    behavior: url(/PIE.htc);
    width:100%
   
 }

.home .menu{
	position:absolute;
	z-index:200
}

ul.home {
	overflow: hidden;
	padding:0;
}


ul.box_menu li.item{
	position:relative;
	background: none repeat scroll 0 0 #63B362;
    border-radius: 0.4em;
    behavior: url(/PIE.htc);
    float: left;
    margin: 0 0.12em 0.3em 0.12em;
    padding: 0;
    text-align: center;
    height:244px;
    width: 244px;
    font-size:2.5em;
    overflow:hidden;}
    	
 ul.box_menu li.item ul{
 	opacity:0.5;
 	filter: alpha(opacity = 50);
 	background:#eec831;
 	padding-bottom:1em;
 }
 
 ul.box_menu li.item ul li.row_1{background:#f9ed72;}
  
 ul.box_menu li.item ul li.row_1 a{color:#eec831;} 
 
ul.box_menu li.item ul a{color:#f9ed72;}
 
ul.box_menu li.item:hover ul, ul.box_menu li.item:hover .text, ul.box_menu li.item:hover img, ul.box_menu li.site_slider:hover #sjcycle_sites, #sjcycle_sites a:focus,#sjcycle_sites a:hover{
	opacity:1;
	filter: alpha(opacity = 100);
}

ul.box_menu li.item:hover .titre{
	background:#99cc66;
}

 ul.box_menu li.item li{
  	line-height:2.5em;
  	
 } 
 
ul.box_menu li.site_slider{	

	
}

ul.box_menu li.site_slider #sjcycle_sites{
	margin-left:0.35em;
	text-align: center;
	background : url("images/screen.png") no-repeat scroll 0 0.1em #63B362;
	z-index:50;
 	opacity:0.5;
 	filter: alpha(opacity = 50);	
}
  
ul.box_menu li.site_slider #sjcycle_sites img{padding:0.3em 0.2em}
        
ul.box_menu li.logo{

	padding :0}

ul.box_menu li.logo img{
	opacity:0.5;
	margin:0;
	position:absolute;
	left:-0.01em;
	top:1em;
	float:none;
	padding :0}
	
	
	
ul.box_menu li.end{
	margin-right:0
}

.box_menu .item .titre{
	line-height:2.5em;
}

ul.box_menu li.descriptif .titre{
	visibility: hidden;
}

ul.box_menu li.logo .titre{
	position:absolute;
	z-index:50;
	width:100%;}

ul.box_menu li .text{
 	opacity:0.5;
 	filter: alpha(opacity = 50);
}
	
ul.box_menu li .text p{
	font-size:0.5em;
	text-align:left;
	padding:0.5em;
}

ul.box_menu li.descriptif .text p{
	font-size:0.8em;
	text-align:center;
	padding:0.5em;
}


.extra2 .liste-items li.on{
	background-color:transparent;
	border-right:none;
	border-top:#FFFFFF 0.1em solid;
	border-bottom:#FFFFFF 0.1em solid;
	font-weight: normal;
	}   
    
    
.extra2 .liste-items li.first{
	border-top:none;
	border-radius: 0.4em 0 0 0 ;
	behavior: url(/PIE.htc);
	}  
	 
.extra2 .liste-items li.last{
	border-bottom:#FFFFFF 0.2em solid;
	border-bottom-right-radius: 0.5em;
	behavior: url(/PIE.htc);
	}   
    

  
.extra2 .liste-items .item{
	position:relative;
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);	
	/* For IE 8*/	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";		
	border-bottom: 0px none;
	margin-left:0;
	padding-left:0.1em;
	border-right:#FFFFFF 0.2em solid;	

}

.extra2 .liste-items .item  li{
	border-left:#FFFFFF 0.1em dotted;
	border-bottom:#FFFFFF 0.1em dotted;
	padding-left:0.5em;
	border-right:none;
	background:none;
	
}


.extra2 .liste-items .item a{
	/*position:absolute; */
	z-index: 300; }

.square{
	float:left;
	height:1em;
	width : 1em;
	background-color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 0.3em;
	behavior: url(/PIE.htc);
	margin-right:0.2em;
	
}

.liste-items{
	border-top: 0px none;
}


.hornav {
    background-color: transparent;
    border-left: 0px;
    border-right:0px;
    font-size:2em
}

#header .hornav {
    margin-left: 25%;
    width: 75%;
    margin-top:1em;
}

.hornav .on {
    background: none;
	/*opacity:0.4;*/
	/*filter: alpha(opacity = 40);*/
	font-weight:normal;
}

.hornav a:hover{
	opacity:0.4;
	filter: alpha(opacity = 40);
	text-decoration:none;
	font-weight:normal;
}
.hornav a:active{
	opacity:0.4;
	bfilter: alpha(opacity = 40);
	text-decoration:none;
	font-weight:normal;
}

/* Barre de navigation top*/
.menuder li { 
float: left;
padding: 0px;
width: auto;
}

.menuder a { 
width: auto;
}

.hornav .item a { 
font-weight:bold;
padding: 0.2em;	
color: #63B362;
}


.menuder li:hover { 
background:white;
}

.menuder, .menuder ul {
    border-color: #63B362;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;

}

.menuder li ul{
    z-index:2000;	
}




.liste{padding-bottom:2.5em}

.liste-items .item:hover{background:none}


.liste-items .item .info-publi {
    background: none ;
}

/*Formulaires*/

/*Colonne droite*/

aside.right,.options section.prix{
	float:right; 
	width:30%;
	border-left:#63b362 2px solid;
	border-bottom:#63b362 4px solid;
	border-top-right-radius: 12px;	
	border-bottom-left-radius: 12px;
	background-color:#eeeeee;
	margin:0 0 1% 1%
	
}

aside.right h2,.options section.prix h2{
	font-size:1.5em;
	line-height: normal;
    margin: 0.5em 0;
}
aside.right section{
	margin:0 5%;
	border-bottom:#63b362 2px dotted;
	}
aside.right section.last{
	border-bottom:none;
}	
.options section.prix{
	border-top-right-radius: 0;	
	border-top:#63b362 2px solid;
	border-top-left-radius: 12px;	
	width:20%;
	padding:0 2%;	
}
/*Contenus liées*/

aside.contenu_lie{float:right;}

/*Divers*/

.spip_documents_center {
    clear: none;

}

.container_pack{overflow:hidden;}

.pack{float:left; width:48%; margin : 0 1%}


/*Listes*/
.content .liste{padding:0 1em;}

.pack .liste_objets_precieux, aside.prix{
	float:right;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	padding: 1em;
	color:#63B362;
	font-weight:bold;
	margin-left:1em;
	margin-bottom:1em;
	border-left: 0.2em solid #FFFFFF;
	}
	
.liste_objets_precieux  {
	font-size:80%
	}
	
.liste_objets_precieux  dd{
	margin-bottom:0.1em;
}

.liste_objets_precieux dl{
	margin-bottom:0.8em;
}

.pack .vente .ajouter_au_panier { 
height:auto;
}

aside.prix {
    margin-right: -1em;
    padding: 1em;
	}
	

.tools{
    color: #63B362;
    font-size: 1.2em;
    padding: 0.2em;
    position: absolute;
    right: 1em;
    text-align: right;
    width: 8%;}
/*Liens*/
a {
    color: #63b362;
    text-decoration: none;
}

a:focus, a:hover, a:active { 
	background:transparent;
	color: #63b362;
	opacity:0.4;
   filter: alpha(opacity = 40);
   text-decoration:none;
}

ul.home a, .extra2 a, #footer a {
	color:#FFFFFF;
}

/*options*/
.options dt, .aide{cursor: pointer;}

.options dt span.open,.faq dt span.open{display:inline;}
.options dt span.closed,.faq dt span.close{display:none;}

.options dt.close span.closed, .faq dt.close span.close{display:inline;}
.options dt.close span.open,.faq dt.close span.open{display:none;}

.options dd.introduction{
	padding:0.5em 0 0.5em 0.5em;
	position:relative;
	z-index:500;
	max-height:30em;
	}
.floating_box{
	background:#FFFFFF;
	border: #63b362 2px solid;
	border-radius:5px;
	left:0;
	width:100%;
}
div.close{
	font-weight:bold; 
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	width:10px}
	
.action_close{cursor: pointer}

.fenetre_container{position:relative;}

.fenetre{position:absolute;width:20%;}	
/*Panier*/

#mon_panier{
	position:fixed;	
	left:1em;
	top: 1em;	
	z-index:700;
	width : -20%;
	cursor:move;
}
#panier_wrap{
	color:#63b362;
	background:#ffffff;
	border:#63b362 2px solid;
  	border-radius:5px;
	position: absolute;
	}

#panier_wrap h2{
	color:#63b362;
  line-height:normal;
  margin-bottom: 0.2em;
	}

/*panneau move*/	
.panneau{height:1.5em; background:#e5e5e5;clear:both;text-align:center}
.panneau div {float:right;width:auto;margin-left:0.1em;background:#f3f3f3;padding:0.2em}
.panneau h1, .panneau h1{font-size:1em; margin:0;padding:0;}

.floating_box{text-align:left;font-family: Helvetica, Arial, sans-serif;	}

.control_box{position:fixed;right:1em; top:1em;z-index:2000}
.control_box div{cursor:pointer;width:24px;height:24px}
.control_box .off{background:url(images/not_move.png) no-repeat;}
.control_box .on{background:url(images/move.png) no-repeat;}