/*Fonts*/

@font-face {
    font-family: 'GoodDogRegular';
    src: url('font/gooddog-webfont.eot');
    src: url('font/gooddog-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gooddog-webfont.woff') format('woff'),
         url('font/gooddog-webfont.ttf') format('truetype'),
         url('font/gooddog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Titraille / Intertitres */
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family: 'GoodDogRegular', Arial, sans-serif;}

extra2 h3{font-size:1em}

h1, .h1{
	font-size: 3.5em ;
	color:#eec831; 
	text-align:left;
	line-height:1.2em;
	margin-bottom:0;
	padding:0.62em 0 0.3em 0;
	font-weight:bold;	
	}

h2, .h2{font-size:2em}


/*Layout*/
html{width:100%; background: #63b362;margin:0 auto;padding:0}
body {
	background:#ffffff;
	border-radius: 1em;
	behavior: url(/PIE.htc);
	max-width:1100px;
	min-width:945px;
	width: auto;
	/*margin: 0 	0 0 17.5em;*/
	margin : 0 auto;
	position:relative;
	z-index:50;
	}
 	
.page {
 	border: none;
    box-shadow: none;
    margin: 8em auto;
    width: 756px;
    padding: 0 2em;
    position: relative;
    text-align: left;
	}

#header{
	text-align:center;
	position:relative;
	z-index:90;
	width:100%;
}

.container {
	background-color:#ffffff;
	border-radius: 0.8em;
	position:relative;
    margin: 3em 0 6em 0;
	behavior: url(/PIE.htc);
}

.home .container {
	background-color:#FFFFFF;
	border: 0px none;
	margin-top:10em;
	padding-left:0;

}


.cartouche{
	margin:0;
	text-align:center;
}


.content {
	background-color:#f9ee72;
	float: right;
	font-family: Helvetica, Arial, sans-serif;	
	border-radius:1em;
	margin:0;
	width:65%;
	padding: 0 ;
	behavior: url(/PIE.htc);
	position:relative;
}

.content p, .content dl, .content ul{	font-size:1.2em;}

.home .content ul{font-size:1em;}
 
.content dl p {
	font-size: 0.9em;
	padding-left: 0.75em;
	}
	
.content .home a{
	font-family: "GoodDogRegular", "Arial", sans-serif;
	padding: 0; 
	}
	
.content .content-principal{
	padding: 0 1.3em; 
}

.chapo, .body_content{
	margin:0 0 1.3em 0;
	min-height:20em;
	height:auto;
	padding:1em;
	background:#FFFFFF;
	font-weight:normal;
	border-radius: 1em;
	behavior: url(/PIE.htc);	
}

.home .content {
	background-color:#FFFFFF;
    width: 100%;
    min-height: 47em;
     margin: 0;
}

.home .content-principal{text-align:center; font-size:1.2em;font-weight: bold}

.extra2{
	float: left;
	clear:none;
    position: relative;
    z-index: 150;
    width:33%;
}


#extra2 h3{margin:0.5em}

.extra1{
	position: fixed;
	top:0;
	left:0;
	z-index:50;
	width:42%;
	height:100%;
	margin:0;
	padding:0;
	}


.home .extra2{
	display:none
}


#footer{
	text-align:center;
	 margin: 0 6em 1em;
	 position: absolute;
	 bottom: 7em;
    z-index: 200;
    width:80%;
    }



#nom_site_spip{
	line-height:0px;
    text-align: center;
    width:100%;
    background:#63B362;
    border: #FFFFFF 2px solid;
   	border-radius: 0.15em;
    behavior: url(/PIE.htc);
    padding: 0.1em 0;
    position:absolute;
    top :-2em;
}

.accueil .h1{
	padding:0;
}
#nom_site_spip a{    color: #ffffff;}

#slogan_site_spip{
	font-size:3.5em;
	letter-spacing: 0.1em;
	line-height: normal;
	color:#63B362;
	position:relative;
	top:2em;
}



/*Menus*/



.extra2.liste-items, extra2.liste-items .item {
    border-bottom: 0 none;
    border-top: 0 none;
}

#extra2 .liste-items{
    /*background-color: #D3E9D2;*/
    border-radius: 0.4em 0 0 0;
    behavior: url(/PIE.htc);
    width:100%
   
 }


/*Home*/

.home .menu{
	position:absolute;
	z-index:200
}

ul.home {
	overflow: hidden;
	padding:0;
}

.home .menu-items{margin-left:0.19em}

ul.box_menu li.item{
	font-family: 'GoodDogRegular', Arial, sans-serif;
	position:relative;
	background: none repeat scroll 0 0 #63B362;
    border-radius: 0.4em;
    behavior: url(/PIE.htc);
    float: left;
    margin: 0 0.12em 0.3em 0.12em;
    padding: 0;
    text-align: center;
    height:244px;
    width: 244px;
    font-size:2.5em;
    overflow:hidden;

    }
    
ul.box_menu li.item:hover ul, ul.box_menu li.item:hover .text,ul.box_menu li.item:hover dt, ul.box_menu li.item:hover dd, ul.box_menu li.item:hover dl{
	opacity:1;
	background-color:#63B362;
	filter: alpha(opacity = 100);
 	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em; 	
    behavior: url(/PIE.htc);	
	}
	
.box_menu .item .titre{
	line-height:2.5em;
}

 ul.box_menu li.item:hover .titre{
	background:#99cc66;
	border-top-left-radius: 0.4em;
 	border-top-right-radius: 0.4em;

}

 ul.box_menu li.item li{
  	line-height:2.5em;
 } 

ul.box_menu li .text{
	background-color: #aaa99d;
	height:	164px;
 	opacity:1;
 	filter: alpha(opacity = 100);
 	line-height: 0.8em;
 	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em; 	

}

	
ul.box_menu li .text p{
	font-size:0.7em;
	color:white;
	text-align:center;
	padding:2em 0.3em;
}
    	
/*Home Packs*/
 ul.box_menu li.item ul{
	height:164px;
 }
 
ul.box_menu li.item:hover ul{
 	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em;	
 	padding-bottom:0;
 	
 }
 
  ul.box_menu li.item ul li.row_2{
 	background:#edc831;
 	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em;
	padding-bottom:0.05em ;
 	}
  ul.box_menu li.item:hover ul li.row_2{
	background:#edc831;
  	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em;	
  	}
 
 ul.box_menu li.item ul li.row_2 a,#extra2 .box_menu li.item:hover  ul li.row_2 a  {color:#f9ed72;}
 
  ul.box_menu li.item ul li.row_1{
  	background:#f1d142;
  	}
 ul.box_menu li.item:hover  ul li.row_1, ul.box_menu li.item  ul li.on{background:#f9ed72;}
  
 ul.box_menu li.item ul li.row_1 a,ul.box_menu li.item  ul li.on a {color:#eec831;} 

ul.box_menu li.item:hover .titre{
	background:#99cc66;
	border-top-left-radius: 0.4em;
 	border-top-right-radius: 0.4em;
}

/*Home Actus*/
ul.box_menu dl, ul.box_menu li.citation .text {
	background:#be914a;
	text-align:left;
	padding:0.5em 0.3em 0.3em 0.3em;
	margin:0;
	height:	134px;
 	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em;}
	
ul.box_menu dt, ul.box_menu dd{
	opacity:0.09;
	filter: alpha(opacity = 9);
}	

ul.box_menu li.citation .text{
	height:164px;
	opacity:0.50;
	filter: alpha(opacity = 50);
}	

ul.box_menu dl dt{font-weight:normal; font-size:0.8em;}

ul.box_menu dl .spip_logos{
	margin: 0 0.2em 0.1em 0;
	}

ul.box_menu dl p {
    font-size: 0.5em;
	margin:0;
	padding:0;
}

ul.box_menu dd {
    padding-left: 0em;
    margin:0.3em 0 0 0;
}

 
/*Home Réalisations -Slider*/
ul.box_menu li.site_slider .slider{
	text-align: center;
	background-color:#7ca2ed;
	padding-left:0.4em;
	height:	164px;
 	border-bottom-left-radius: 0.4em;
 	border-bottom-right-radius: 0.4em;
}

ul.box_menu li.site_slider .sjcycle_sites{
	background-color:transparent;
	background-image: url("images/screen.png");
	background-repeat:no-repeat;
	background-position: 0 0.1em ;	
	opacity:0.1;
	filter: alpha(opacity = 10);
}

ul.box_menu li.site_slider:hover .slider,ul.box_menu li.site_slider:hover  .sjcycle_sites{
		background-color:#64b362;
}

ul.box_menu li.site_slider:hover .sjcycle_sites,ul.box_menu li.site_slider:hover .sjcycle_sites a:hover, ul.box_menu li.item:hover .images{
	opacity:1;
	filter: alpha(opacity = 100);
}

ul.box_menu li.site_slider .sjcycle_sites img{
	opacity:2;
	filter: alpha(opacity = 20);
	position:relative;
	top:0.3em;
	left:0.14em;
	}

/*Home logo auteurs*/
ul.box_menu li.logo{padding :0}

ul.box_menu li.logo img{
	opacity:0.5;
	filter: alpha(opacity = 50);
	margin:0;
	float:none;
	padding :0}
	
ul.box_menu li.logo_auteurs .images{
	opacity:0.5;
	filter: alpha(opacity = 50);
	margin:0;
	padding :0;
	height:	164px;
	
	}	
	
ul.box_menu li.logo_auteurs .image{
	float:left;
	height:164px;
	overflow:hidden;
	z-index:20}	
	
ul.box_menu li.logo_auteurs img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(images/desaturate.svg#greyscale);
	filter: grayscale(100%);
	filter: gray;
	z-index:10;
	border-bottom-right-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}

ul.box_menu li.logo_auteurs:hover img{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
	filter: grayscale(0%);
	background-color:#64b362;
	z-index:10;
	border-bottom-right-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}


.image_1{padding-right:17px;}

.image_2{padding-left:17px;}
	
ul.box_menu li.end{
	margin-right:0
}
/*Home descriptif*/

ul.box_menu li.descriptif .titre{
	visibility: hidden;
}


ul.box_menu li.descriptif .text{
	background-color:#64b362;
}

ul.box_menu li.descriptif .text p{

	color:#FFFFFF;
	font-size:1em;
	padding:0.5em;
	line-height: 0.8em;
}


/*Home Citation*/
ul.box_menu li.citation .text{
	padding:0;
}

ul.box_menu li.citation .text p{

	color:#FFFFFF;
	font-size:1em;
	padding:0.5em 0.5em 0 0.5em;
	line-height: 0.8em;
	
}

/*Menu horizontal*/

.hornav {
    background-color: transparent;
    border-left: 0px;
    border-right:0px;
    font-size:2em
}

#header .hornav {
    margin: 0;
    width: 100%;
    margin-top:4em;
}

.hornav .menu-items {
	margin-top:0;
	background-color:#63b262;
    border-radius:0.4em;
    behavior: url(/PIE.htc);
}

.hornav .menu-items .item{
	border-radius:0.4em;
  	behavior: url(/PIE.htc);
	background-color:#63b262;
}

#nav li{
	display:inline;
	margin:0;
	padding:0.1em 1em 0 1em;
}


.menu-items {
    border-bottom: 0px ;
}

.hornav .menu-items  .on {
  background-color:#99CC66;

}

.hornav .item a:focus,.hornav .item a:hover,.hornav .item a:active{
  background-color:transparent;
}


.hornav .item:focus,.hornav .item:hover,.hornav .item:active{
  background-color:#99CC66;
}

.menuder li { 
	float: left;
	padding: 0px;
	width: auto;
}

.menuder a { width: auto;}

.hornav .item a { 
	font-weight:bold;
	padding: 0.2em 0.1em;	
	color: #FFFFFF;
}


.menuder li:hover { background:white;}

.menuder, .menuder ul {
    border-color: none;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;

}

.menuder li ul{
    z-index:600;	
}

/*extra2 menu vertical*/

#extra2 .box_menu{
	margin: 0 0 2em 0;
	}


#extra2 ul.box_menu li.item ul {padding-bottom:0}   
 
#extra2 ul.box_menu li.item{
	background-color:#99CC66;
	height:auto;
	float: none;
	margin:0;
    	}
    	
#extra2 ul.box_menu li.item ul{opacity:1;filter: alpha(opacity =100);}



#extra2 ul.box_menu li.item li{background:#EDC831}

#extra2 ul.box_menu li.item li.on{background:#F9ED72}


#extra2 ul.box_menu li.item li a{color:#F9ED72}

#extra2 ul.box_menu li.item li.on a,#extra2 ul.box_menu li.item li.on:hover a,#extra2 ul.box_menu li.item li.on:focus a,#extra2 ul.box_menu li.item li.on:active a{color:#EDC831}

#extra2 img{border-radius:0.8em;behavior: url(/PIE.htc);}

 ul.submenu {
 	border-radius:0.4em;
 	text-align:center;
	background-color:#64b362;
	font-size:2.5em;
	behavior: url(/PIE.htc);
	}   


.liste-items{
	border-top: 0px none;
}

/*Menu Horizontal*/


.liste{padding-bottom:2.5em}

.liste-items .item:hover{background:none}


.liste-items .item .info-publi {
    background: none ;
}

/*Menu content*/

.content .menu-items {
	font-size:2em;
	border-radius:0.4em;
	background:#99CC66;
	font-family: 'GoodDogRegular', Arial, sans-serif;
	behavior: url(/PIE.htc);
}

.content .menu-items a{color:#FFFFFF}

/*Formulaires*/

/*Colonne droite*/

aside.right,.options section.prix{
	float:right; 
	width:30%;
	background:#EEC831;	
	border-radius: 0.4em;	
	margin:0 0 1% 1%;
	behavior: url(/PIE.htc);
	padding:0.5em;
}


aside.right h2,.options section.prix h2{
	color:#EEC831;
	font-weight:bold;
	font-size:1.3em;
	line-height: normal;
    margin: 0  0 0.5em 0;
}

aside.right a{color:#EEC831}

aside.right ul{
	background:#FFFFFF;
	font-size:1.1em;
	border-radius: 0.2em;
	padding:0.3em;
	behavior: url(/PIE.htc);
	}
aside.right li{

	border-radius:0.4em;
	behavior: url(/PIE.htc);
	}	
aside.right section{
	padding:0.3em;
	border-radius: 0.4em;	
	background:#f9ed72;
	behavior: url(/PIE.htc);
	}
aside.right section.last{
	border-bottom:none;
}	
.options section.prix{
	position:relative;
	width:20%;
	padding:0.5em;	
	height:auto;
}

.options section.prix h2{
	display:none;
}

.options section.prix .liste_objets_precieux{
	background:#f9ed72;
	border-radius: 0.2em;
	padding:0.3em;
	behavior: url(/PIE.htc);
	height:auto;
}
/*Contenus liées*/

aside.contenu_lie{float:right;}

/*Divers*/

.spip_documents_center {
    clear: none;
}

.container_pack{overflow:hidden;}

.pack{float:left; width:48%; margin : 0 1%}

aside.more {text-align:center; margin-top:1.5em}
aside.more .h2{
	background:#eec831; 
	padding:0.2em 2em;
	border-radius:0.4em;
	behavior: url(/PIE.htc);
	}
/*Listes*/
.content .liste{padding:0 1em;}

.pack .liste_objets_precieux, aside.prix{
	float:right;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	padding: 1em;
	color:#63B362;
	font-weight:bold;
	margin-left:1em;
	margin-bottom:1em;
	border-left: 0.2em solid #FFFFFF;
	}
	


.tools{
    color: #000000;
    font-size: 1.2em;
    padding: 0.2em;
    position: absolute;
    right: 0.5em;
    text-align: right;
    float:right;
    width: 5em}

.login{margin-top:1em}

/*options*/
.options dt, .aide{cursor: pointer;}

.options dt span.open,.faq dt span.open{display:inline;}
.options dt span.closed,.faq dt span.close{display:none;}

.options dt.close span.closed, .faq dt.close span.close{display:inline;}
.options dt.close span.open,.faq dt.close span.open{display:none;}

.options dd.introduction{
	padding:0.5em 0 0.5em 0.5em;
	position:relative;
	z-index:500;
	max-height:30em;
	}
.floating_box{
	background:#FFFFFF;
	border: #63b362 2px solid;
	border-radius:5px;
	left:0;
	width:100%;
	behavior: url(/PIE.htc);
}
div.close{
	font-weight:bold; 
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	width:10px}
	
.action_close{cursor: pointer}

.fenetre_container{position:relative;}

.fenetre{position:absolute;width:20%;}	

/*Le Panier*/

#mon_panier{
	position:relative;	
	right:1em;
	top: 1em;	
	z-index:700;
	width : -20%;
	cursor:move;
	float:right;
}

#mon_panier h2,#mon_panier .h2{
	background: url(images/panier.png)no-repeat 99% 0.1em #EEC831;
    line-height: normal;
    margin: 1.2em 0 0 0;
    width: 4.3em;
    border-radius: 0.1em;
    behavior: url(/PIE.htc);
	}

#mon_panier h2 a{padding:0 1em 0 0.1em;    color: #FFFFFF;}



#mon_panier .details{
	/*display:none;*/
	text-align:right;
	background-color: #EEC831 ;
	width:22.5em;
	position:absolute;
	right:0;
	margin-top:-0.4em;
	padding:0.5em 0.5em 1.5em 0.5em;
	border-radius: 0.4em;
    behavior: url(/PIE.htc);
	}
	
#mon_panier .prix{
   	clear:both;
    
	}
.liste_objets_precieux  {
	font-size:80%;
	}
	
.liste_objets_precieux  dd{
	margin-bottom:0.1em;
}

.liste_objets_precieux dl{
	margin-bottom:0.8em;
}

.details .vente .ajouter_au_panier, .compris_pack { 
	float:right;
	width:auto;
	height:auto;
	font-weight:bold;
}


aside.prix {
    margin-right: -1em;
    padding: 1em;
	}
	
	
#panier_wrap{

	background: #EEC831 ;
	border:none;
		margin-bottom:0.4em

}

#panier_wrap tbody tr:nth-child(2n) td, tbody tr.even td {
	background:#f9ed72;
}

#panier_wrap .formulaire_spip {
	background:#EEC831;
	border:none;
}

#panier_wrap .continuer, .annuler, .submit {
    background-color: #f9ed72;
	border : #e5e5e5 2px solid;
	margin:0.1em;
    padding : 0.1em;
    border-radius: 0.4em;
    behavior: url(/PIE.htc);
    width:auto;
}

#panier_wrap .continuer:hover, .annuler:hover, #mon_panier .submit:hover{
	background:#EEC831; 
}

#panier_wrap a{color:#000000; font-weight:bold}
	
#panier_wrap .formulaire_spip .boutons {
    margin-top: 0;
}

#panier_wrap h2{
	color:#63b362;
  line-height:normal;
  margin-bottom: 0.2em;
	}

/*panneau move*/	
.panneau{height:1.5em; background:#e5e5e5;clear:both;text-align:center}
.panneau div {float:right;width:auto;margin-left:0.1em;background:#f3f3f3;padding:0.2em}
.panneau h1, .panneau h1{font-size:1em; margin:0;padding:0;}

.floating_box{text-align:left;font-family: Helvetica, Arial, sans-serif;	}

.control_box{position:fixed;right:1em; top:1em;z-index:2000}
.control_box div{cursor:pointer;width:24px;height:24px}
.control_box .off{background:url(images/not_move.png) no-repeat;}
.control_box .on{background:url(images/move.png) no-repeat;}

/*Liens*/
a {
    color: #eec831;
    text-decoration: none;
}

a:focus, a:hover, a:active { 
	background:transparent;
	color: #eec831 ;
	opacity:0.4;
   filter: alpha(opacity = 40);
   text-decoration:none;
}


a[hreflang]:after {
    content: none;
}
ul.home a, .extra2 a, #footer a {
	color:#FFFFFF;
}